{
  "Version": 2,
  "Cursors": {
    "arrow": {
      "Image": "pointers/cursor_none.png",
      "Hotspot": "16,10"
    },
    "hand": {
      "Image": "pointers/hand_point.png",
      "Hotspot": "16,10"
    },
    "move": {
      "Image": "pointers/hand_closed.png",
      "Hotspot": "16,10"
    },
    "dot-small": {
      "Image": "pointers/dot_small.png",
      "Hotspot": "32,32"
    },
    "dot-large": {
      "Image": "pointers/dot_large.png",
      "Hotspot": "32,32"
    },
    "cursor_add": {
      "Image": "pointers/cursor_add.png",
      "Hotspot": "32,32"
    }
  },
  "__guid": "d39fc5b3-1e60-42c3-9ef2-d5300c88c499",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}