{
  "DestroyLobbyWhenHostLeaves": false,
  "AutoSwitchToBestHost": false,
  "ClientsCanSpawnObjects": true,
  "ClientsCanRefreshObjects": true,
  "ClientsCanDestroyObjects": true,
  "UpdateRate": 30,
  "__guid": "78a0eb56-4dee-4194-a490-96cd65ead59d",
  "__schema": "configdata",
  "__type": "NetworkingSettings",
  "__version": 1
}